@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-cm {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tgme_widget_login.large button.tgme_widget_login_button {
    width: 301px;
    font-size: 16px;
    line-height: 20px;
    padding: 7px 42px 7px;
    border-radius: 20px;
    border-radius: 5px;
}

.sidebar__link--active {
    font-weight: bold;
    color: #1890ff;
}

.ant-menu-item:has(.active) {
    color: #fff;
    background-color: #1677ff;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-input-search .ant-input-search-button {
    height: 31px;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 53px 41px;
}


.user__img {
    margin-top: -4px;
    margin-right: 25px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
}

:where(.css-1uq9j6g).ant-input-search .ant-input-search-button {
    height: 31px;
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}

.carousel-container {
    position: relative;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: none;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.carousel-container:hover .carousel-button {
    display: block;
}


.ant-card-body {
    background-color: rgb(246, 244, 244);
}


.ant-card:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
}


.totalItem {
    font-size: 20px;
    background-color: rgb(205, 204, 204);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 19px;
}

.totalItems {
    font-weight: 400;
    font-size: 15px;
}

.btnRemove {
    background-color: #fff;
    background-color: rgb(247, 89, 89);
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}